body {
  margin:0px;
  padding:0px;
  background-color:#ccc;
  font-family: Arial;
}

#header {
  margin:0px;
  padding:3px;
  text-align:center;
  font:bold large normal;
  font-family: Impact, sans-serif;;
}

#main {
  margin:0px;
  padding:0px;
  position:relative;
  width:100%;
  overflow:hidden;
  background-color:#ccc;
}

#navigate {
  background-color: #2D3142;
  overflow: hidden;
}

#navigate a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  font-size: large;
  padding: 14px 16px;
  text-decoration: none;
}

#navigate a:hover {
  background-color: #ddd;
  color: black;
}

#navigate a.active {
  background-color: #ddd1f7;
  color: black;
}

#leftmenu {
  float:left;
  width:15%;
  padding:10px;
  border:thin insert;
}

#leftmenu ul {
  list-style-type: none;
  margin: 0;
  padding: 15px;
  font-size: 20px;
}

#leftmenu a {
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

#leftmenu a:hover {
  background-color: #eee;
  font-weight: bold;
}

.container {
  padding:10px;
  width: 80%;
  float: left;
}

.login {
  width: 40%;
  margin-top: 10%;
  margin-left: 28%;
  padding: 10px;
  text-align: center;
}

#content {
  margin-left: 14px;
  font-size: 20px;
  padding: 0px 10px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color:#ccc;
  text-align: center;
}

textarea {
  border-radius: 5px;
  width: 100%;
  height: 25vh;
}

table {
  width: 100%;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  table-layout:auto;
}

th,
td {
  padding: 15px;
  text-align: left;
  color: black;
  position: relative;
  border: 10px;
  table-layout:auto;
}

td.fitwidth {
    width: 1px;
    white-space: nowrap;
}

input[type="submit"] {
  background-color: #CABAC9;
  color: black;
  padding: 15px 32px;
  position: center;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

div.horizontalgap {
  float: left;
  overflow: hidden;
  height: 1px;
  width:0;
}

div.category {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  line-height: 2.6;
}

div.type {
  margin-left:15px;
  text-align: left;
  line-height: 2;
}

.myfield {
  border:1px solid #ccc;
  border-radius:5px;
  height:25px;
  width:100%;
  margin: 10px 10px 10px 0;
}

input[type="text"], input[type="password"] {
  border:1px solid #ccc;
  border-radius:5px;
  height:25px;
  width:100%;
  margin: 10px 10px 10px 0;
  font-family: inherit;
  font-size: inherit;
}

input[type="number"] {
  border:1px solid #ccc;
  border-radius:5px;
  height:25px;
  width:100%;
  margin: 10px 10px 10px 0;
  font-family: inherit;
  font-size: inherit;
}

input[type="email"] {
  border:1px solid #ccc;
  border-radius:5px;
  height:25px;
  width:100%;
  margin: 10px 10px 10px 0;
}

select {
  background-color: white;
  border:1px solid #ccc;
  border-radius:5px;
  padding: 0 1em 0 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  width: 100%;
  height:25px;

  z-index: 1;

  &::-ms-expand {
    display: none;
  }

  outline: none;
}

a:link {
  color: #2D3142;
  text-decoration: none;
}

a:visited {
  color: #2D3142;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

button {
  background-color: #CABAC9;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

.button {
  color: black;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  text-decoration: none;
}